
#global-nav {
    background-color: rgba(0,0,0,0.7);
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100vw;
}

#global-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 12px;
}

#global-nav li {
    margin: 0 6%;
}

#global-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}


.menu-trigger {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box
}

/* ０〜768px　以下の設定 */
@media(max-width: 768px) {
    .sp_header {
        position: fixed;
        width: 100vw;
        height: 60px;
        background-color: rgba(0,0,0,0.7);
        z-index: 3;
    }

    .menu-trigger {
        width: 56px;
        height: 60px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        outline: none;
    }

    .menu-trigger span {
        width: 32px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-trigger span:nth-of-type(1) {
        top: 15px;
    }

    .menu-trigger span:nth-of-type(2) {
        top: 49%;
    }

    .menu-trigger span:nth-of-type(3) {
        bottom: 13px;
    }

    .menu-trigger.active span:nth-of-type(1) {
        top: 49%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

     .menu-trigger.active span:nth-of-type(2) {
        opacity: 0;
    }

     .menu-trigger.active span:nth-of-type(3) {
        bottom: 49%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    #global-nav {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
        margin: 0;
        padding: 90px 5% 0;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        z-index: -1;
    }

    #global-nav.active {
        display: block;
        z-index: 1;
    }

    #global-nav ul {
        display: block;
    }

    #global-nav li {
        margin: 0 auto;
    }

    #global-nav li,
    #global-nav li:last-child {
        text-align: center;
        margin-bottom: 6%;
    }

    #global-nav li a {
        font-size: 24px;
        text-align: center;
        background: none;
        padding: 12px;
    }

}
/* 768px END */