.scroll-effect{
    opacity: 0;
    /* 実際の位置より45px下げる */
    transform: translate(0, 45px); 
    transition: all 1.5s;
}

.scroll-in{
    opacity: 1;
    /* 元の位置に */
    transform: translate(0, 0);
}

.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
}